* {
    margin: 0%;
    border: 0%;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    /* Ajusta el grosor y forma del texto según el tamaño para mejorar la legibilidad */
    font-style: normal;
}

html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    background-color: #f2eeee;
    width: 100%;
    /* Evita el scroll horizontal si algo se desborda */
    overflow-x: hidden;
    /* Oculta el contenido que se desborda horizontalmente para evitar el scroll lateral */
    max-width: 100vw;
    /* Ajusta el tamaño para que no se desborde del ancho de pantalla */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

/* Para que el menú de navegación quede fijo en la parte superior */
header {
    position: sticky;
    top: 0;
    z-index: 1000;
    /*Elemento apilado por encima de los demás.*/
}


/* Estilos del menú de navegación */
nav {
    background-color: #171717;
    text-align: center;
    padding: 10px;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 38px;
    position: sticky;
    align-items: center;
    padding: 10px;
    background-color: #171717;

    li {
        display: inline;
        padding: 20px;
        background-color: #171717;
        justify-content: center;

        a {
            text-decoration: none;
            /* Quita el subrayado */
            color: white;
            font-size: 25px;
            padding: 16px;
            margin: 5px;
            font-family: "Bebas Neue", sans-serif;
            font-weight: 200;
            background-color: #171717;
        }
    }
}

.menu li a:hover {
    color: #ff7700;
    background-color: rgb(40, 51, 63);
    border-radius: 15px;
}

/* Botón del menú hamburguesa */
.menu-toggle {
    display: none;
    /* Oculto por defecto */
    font-size: 20px;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    margin: 10px;
    padding: 8px;
    box-shadow: none;
    outline: none;
}

/* Estilos del encabezado */
/*Cambiaso*/
.main-title h1 {
    text-align: center;
    padding: 10px;
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 90px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: italic;
}

/*Encontrá lo que buscas, vendé lo que no necesitas.*/
.main-title h3 {
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 25px;
    font-weight: lighter;
    border-color: #000000;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: italic;
    padding: 10px;
}

.loader {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #333;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;

  position: fixed;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
 
}

/* Estilos para detalle de producto */
#details {
    display: flex;
    justify-content: center;
    width: 100%;
}

/* Estilos de la tarjeta */
.details-card {
    display: grid;
    grid-template-columns: repeat(1, 1fr 2fr);
    border-radius: 6px;
    border-color: 2px solid rgb(58, 56, 53);
    padding: 10px;
    box-shadow: 0px 0px 1px rgb(167, 161, 161);
    height: 75%;
    width: 60%;
    background-color: rgb(254, 254, 255);
    align-self: center;
    margin: 50px;
}

.details-card button {
    align-self: flex-end;
    margin-top: auto;
    margin-bottom: 30px;
    margin-right: 20px;
}

.details-text {
    display: flex;
    flex-direction: column;


    p {
        font-size: 16px;
        padding: 5px;
        margin: 10px;
    }

    h3 {
        text-align: center;
        padding: 8px;
        font-size: 23px;
    }
}

.details-image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;

    img {
        height: 280px;
        border-radius: 6px;
        filter: brightness(1.1);
        /* Quita el fondo blanco de una imagen */
        mix-blend-mode: multiply;
    }
}

/* Estilos para todos los botones */
button {
    width: fit-content;
    padding: 10px;
    border-radius: 7px;
    margin: 10px;
    align-self: flex-end;
    font-size: 16px;
    background-color: #000000;
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 2px 2px 5px rgb(163, 154, 154);
}

button:hover {
    color: black;
    background-color: #ff6600;
    font-weight: bold;
}

.custom-button{
    padding:10px;
    border-radius: 7px;
    margin: 10px;
    font-size:16px;
    background-color: #000000;
    color: rgb(255, 255, 255);
    border:  none;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 2px 2px 5px rgb(163, 154, 154);
    width: 100px;
}

.custom-button:hover{
    color: black;
    background-color: #ff6600;
    font-weight: bold;
}

/*Estilos del footer*/
footer {
    background-color: rgb(0, 0, 0);
    display: flex;
    /*Uso de flexbox*/
    flex-direction: row;
    flex-wrap: wrap;
    padding: 8px;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    column-gap: 10px;
}

footer div {
    padding: 5px;
}

footer .copyright {

    justify-content: flex-end;
    align-items: end;

}

footer .redes {
    display: flex;
    flex-direction: row;
    column-gap: 90px;
    width: 70%;
    align-self: auto;
    justify-content: center;
    align-items: center;

}

footer .redes a {
    justify-content: center;
}

footer img {
    width: 20px;
    height: 20px;
    margin-right: 7px;
}

footer p {
    padding: 1px;
    font-weight: 400;
    font-size: 15px;
    color: white;
    font-style: italic;
}
@keyframes spin {
  0% { transform: translate(-50%, -50%) rotate(0deg); }
  100% { transform: translate(-50%, -50%) rotate(360deg); }
}

@media (max-width: 1100px) {

    .details-card {
        display: flex;
        flex-direction: column;
        height: fit-content;

        button {
            align-self: flex-end;
            margin-top: auto;
            margin-bottom: 0px;
            margin-right: 0px;
        }
    }

    .details-text {
        display: flex;
        flex-direction: column;

        p {
            font-size: 16px;
            padding: 5px;
        }

        h3 {
            text-align: center;
            padding: 8px;
            font-size: 23px;
        }
    }

    .details-image {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 50%;
            height: auto;
        }
    }

}

/*En este mediaquery: 
-El menu se hace menu hamburguesa
-Se achica el título, logo y subtítulos
-Se hace más pequeña la barra de búsqueda
-Se muestran los productos de a 2 en la galería
-La seccion pagar del carrito se muestra debajo de los productos agregados al carrito*/
@media (max-width: 685px) {
    nav {
        height: 40px;
    }

    .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        padding: 8px;
        height: fit-content;
        margin: 0px;
        background-color: #000000;
    }

    .menu li {
        height: auto;
        padding: 1px;
        width: 100%;
    }

    .menu li a {
        display: block;
        width: auto;
        font-size: 22px;
        padding: 6px;
    }

    .menu li:hover {
        color: #ff7700;
        background-color: rgb(40, 51, 63);
        border-radius: 5px;
    }

    .menu.active {
        display: flex;
        /* Se muestra el menú cuando esté activo */
    }

    .menu-toggle {
        display: block;
        /* Se muestra el botón hamburguesa */
        position: absolute;
        top: 10px;
        left: 20px;
    }

    .main-title h1 {
        font-size: 70px;
    }

    .main-title h3 {
        font-size: 20px;
    }

    .details-card {
        align-self: center;
        display: flex;
        flex-direction: column;
        height: fit-content;
        /* asegura que crezca uniformemente */
        width: fit-content;

        button {
            align-self: flex-end;
            margin-top: auto;
            margin-bottom: 0px;
            margin-right: 0px;
        }
    }

    .details-text {
        display: flex;
        flex-direction: column;

        p {
            font-size: 16px;
            padding: 5px;
        }

        h3 {
            text-align: center;
            padding: 8px;
            font-size: 23px;
        }
    }

    .details-image {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            height: auto;
            width: 50%;
        }
    }
}

/*En este mediaquery: 
-El menu se hace menu hamburguesa
-Se achica el título
-Los filtros de precio de búsqueda se corren debajo del filtro categoría
-Se hace más pequeña la barra de búsqueda
-Se muestran los producto de a 1 en la galería
-Los producto del carrito se muestran en tarjetas como columnas y no como filas
-Los formularios de venta y contacto se ponen debajo del texto de cada sección
-Los elementos del footer se van poniendo uno debajo de otro a medida que la pantalla se achica */
@media (max-width: 542px) {
    nav {
        height: 40px;
    }

    .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        padding: 8px;
        height: fit-content;
        margin: 0px;
        background-color: #000000;
    }

    .menu li {
        height: auto;
        padding: 1px;
        width: 100%;
    }

    .menu li a {
        display: block;
        width: auto;
        font-size: 22px;
        padding: 6px;
    }

    .menu li:hover {
        color: #ff7700;
        background-color: rgb(40, 51, 63);
        border-radius: 5px;
    }

    .menu.active {
        display: flex;
        /* Se muestra el menú cuando esté activo */
    }

    .menu-toggle {
        display: block;
        /* Se muestra el botón hamburguesa */
        position: absolute;
        top: 10px;
        left: 20px;
    }

    .main-title h1 {
        font-size: 50px;
    }

    footer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    footer .redes {
        display: flex;
        flex-direction: row;
        column-gap: 30%;
        order: 3;
    }
}