*{
    margin: 0%;
    border: 0%;
    padding: 0;
}
/* Para que el menú de navegación quede fijo en la parte superior */
header{
        position: sticky;
        top:0;
}
nav {
    background-color: black;
    text-align: center;
    padding: 20px;
}

/* Estilos del menú de navegación */
.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 30px;
    position: sticky;
    li{
        display: inline;
        padding: 25px;
        a{
            text-decoration: none; /* Quita el subrayado */
            color: white; 
            font-size: 22px; 
            font-weight: bold;
            padding: 18px; 
            margin: 5px; 
        }
        
    }
}

.menu li a:hover{
    color: #ff7700;
    background-color: rgb(40, 51, 63);
    border-radius: 15px;
    font-weight: bold;
}

/* Estilos del buscador */
#buscador{
    background-color: blueviolet;
}

/* Estilos del encabezado */
#encabezado h1{
    text-align: center;
    padding: 10px;
    background-color: aqua;
    font-size: 50px;
}

#encabezado h3{
    text-align: center;
    background-color: red;
    font-size: 25px;
    font-weight: lighter;
}

/* Estilo de la galería */

#gallery{
    background-color: rgb(2, 57, 255);
    display: grid;/*Uso de grid*/
    grid-template-columns: repeat(3, 1fr); /*Columnas en grid*/
    padding:20px auto;
    gap:10px;
    width: 90%;
    margin: 20px auto; /*para arriba y abajo y auto para costados*/
    /*max-width: 1600px;*/
}

/* Estilos de las tarjetas */
#card1, #card2, #card3{  
    display:flex; /*Uso de flexbox*/
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgb(249, 229, 206);
    font-size: 20px;
    border-radius: 6px;
    border-color: 1px rgb(58, 56, 53) solid;
    padding:20px;
    margin: 10px; 

    h3{
        text-align: center;
        padding: 2px; 
    }
    button{
        width:fit-content;  
        font-size: 20px;
        font-weight: semi-bold;
        padding:10px;
        border-radius: 7px;
        margin: 10px;
        box-shadow: 100px rgb(255, 0, 0);
        align-self: flex-end;
    }
    img{
        height:180px;
        align-self: center;
        border-radius: 6px;
    }

    button:hover{
        color: #ff6600;
        background-color: rgb(0, 0, 0);
        border-radius: 15px;
        font-weight: bold;
    }   
}


/* Estilos del formulario de venta */
#sellform{
    display: grid;
    background-color: rgb(247, 255, 2);
    padding: 10px;
    font-size: 21px;
    background-color: yellow;
    grid-template-columns: 50% 50%;
    grid-template-rows: 25% 25% 25% 25%;
}

#sellform form{
    display: block;
    grid-column-start:2;
    grid-row-start: 1;
    grid-row-end: 5;
    padding: 2%;
    margin-bottom: 10px;
    background-color: #ff7700;
}


#sellform form > * {/*Selecciona todos los elementos que son hijos directos del <form>*/
    padding: 2px;
    margin: 7px;
  }
  
  #sellform form input,
  #sellform form select,
  #sellform form textarea {
    width: 90%;
    padding: 1%;
    font-size: 19px;
  }

  #sellform form textarea{
    resize: none;
  }

  #sellform form button{
    width:fit-content;  
    font-size: 20px;
    font-weight: semi-bold;
    padding:10px;
    border-radius: 7px;
    margin: 10px;
    box-shadow: 100px rgb(255, 0, 0);
    align-self: flex-end;
  }

#sellform h1{
    background-color: aqua;
   align-content:center;
    text-align: center;
    grid-row-start: 2;
    grid-row-end: 2;
}

#sellform h3{
    background-color:green ;
    text-align: center;
    align-content: start;
    grid-row-start: 3;
    
}

/*Estilos de la sección contacto*/
#contacto{
    background-color: aqua;
    display: grid; /*Uso de grid*/
    padding: 10px;
    font-size: 21px;
    background-color: yellow;
    grid-template-columns: 50% 50%;
    grid-template-rows: 25% 25% 25% 25%;

}

#contacto form{
    display: block;
    grid-column-start:1;
    grid-row-start: 1;
    grid-row-end: 5;
    padding: 2%;
    margin-bottom: 10px;
    background-color: #ff7700;
}

/*Selecciona todos los elementos que son hijos directos del <form>*/
#contacto form > * {
    padding: 2px;
    margin: 7px;
  }
  
  #contacto form input,
  #contacto form select,
  #contacto form textarea {
    width: 90%;
    padding: 1%;
    font-size: 19px;
  }

  /*Evita que el textarea sea agrandado/achicado*/
  #contacto form textarea{
    resize: none;
  }

  #contacto form button{
    width:fit-content;  
    font-size: 20px;
    padding:10px;
    border-radius: 7px;
    margin: 10px;
    box-shadow: 100px rgb(255, 0, 0);
    align-self: flex-end;
  }

#contacto h1{
    background-color: aqua;
   align-content:center;
    text-align: center;
    grid-row-start: 2;
    grid-row-end: 2;
}

#contacto h3{
    background-color:green ;
    text-align: center;
    align-content: start;
    grid-row-start: 3;    
}

/*Estilos del footer*/
footer{
    background-color: brown;
    display: flex; /*Uso de flexbox*/
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px ;
    gap:9px;
   
}

footer div{
    padding: 8px;
}

footer .redes a{
    text-decoration: none;
    text-align: center;
    background-color: antiquewhite;
    height: 30px;
}

footer img{
    width: 25px;
    margin: 0 5px;
}

footer p{
    padding: 1px;
    font-weight: 500;
}
