*{
    margin: 0%;
    border: 0%;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
/* Para que el menú de navegación quede fijo en la parte superior */
header{
        position: sticky;
        top:0;
}

 h2{
    text-align: center;
    font-size: 30px;
}
nav {
    background-color: black;
    text-align: center;
    padding: 20px;
}

/* Estilos del menú de navegación */
.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 35px;
    position: sticky;
    background-color: #000000;
    li{
        display: inline;
        padding: 25px;
        background-color: black;
        a{
            text-decoration: none; /* Quita el subrayado */
            color: white; 
            font-size: 25px; 
            padding: 18px; 
            margin: 5px; 
            font-family: "Bebas Neue", sans-serif;
            font-weight: 200;
            background-color: black;
        }
        
    }
}

.menu li a:hover{
    color: #ff7700;
    background-color: rgb(40, 51, 63);
    border-radius: 15px;
}

/* Estilos del buscador */
#buscador{
    padding: 20px;

}

#buscador form{
    display: flex;
    justify-content: center;
}

/* Estilos del encabezado */
#encabezado h1{
    text-align: center;
    padding: 10px;
    background-color: rgb(0, 0, 0);
    color:white;
    font-size: 90px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: italic;
}

#encabezado h3{
    text-align: center;
    background-color: rgb(0, 0, 0);
    color:white;
    font-size: 25px;
    font-weight: lighter;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: italic;
}

/* Estilo de la galería */



#gallery{
    display: grid;/*Uso de grid*/
    grid-template-columns: repeat(3, 1fr); /*Columnas en grid*/
    padding:20px auto;
    gap:10px;
    width: 90%;
    margin: 20px auto; /*para arriba y abajo y auto para costados*/
    /*max-width: 1600px;*/
}

#gallery > *{
    font-size:19px;
}

/* Estilos de las tarjetas */
#card1, #card2, #card3{  
    display:flex; /*Uso de flexbox*/
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 6px;
    border-color: 1px rgb(58, 56, 53) solid;
    padding:13px;
    margin: 10px; 
    background-color: #dbd5d5;
    box-shadow: 5px 5px 10px rgb(112, 104, 104);

    h3{
        text-align: center;
        padding: 2px; 
    }
    button{
        width:fit-content;  
        font-weight: semi-bold;
        padding:10px;
        border-radius: 7px;
        margin: 10px;
        align-self: flex-end;
        font-size:19px;
        background-color: #ff7700; /* Naranja */
        color: black;
        border: none;
        cursor: pointer;
        transition: all 0.3s ease;
    }
    img{
        height:180px;
        align-self: center;
        border-radius: 6px;
    }

    button:hover{
        color: #ff6600;
        background-color: rgb(0, 0, 0);
        font-weight: bold;
    }   
}


/* Estilos del formulario de venta */
#sellform{
    display: grid;
    padding: 10px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 25% 25% 25% 25%;
}

#sellform form{
    display: block;
    grid-column-start:2;
    grid-row-start: 1;
    grid-row-end: 5;
    padding: 2%;
    margin-bottom: 10px;

}


#sellform form > * {/*Selecciona todos los elementos que son hijos directos del <form>*/
    padding: 2px;
    margin: 7px;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
  }
  
  #sellform form input,
  #sellform form select,
  #sellform form textarea {
    width: 90%;
    padding: 1%;
  }

  #sellform form textarea{
    resize: none;
  }

  #sellform form button{
    width:fit-content;  
    font-weight: semi-bold;
    padding:10px;
    border-radius: 7px;
    margin: 10px;
    align-self: flex-end;
    font-size:19px;
    background-color: #ff7700; /* Naranja */
    color: black;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
  }

#sellform h1{
 
   align-content:center;
    text-align: center;
    grid-row-start: 2;
    grid-row-end: 2;
}

#sellform h3{
    text-align: center;
    align-content: start;
    grid-row-start: 3;
    
}

/*Estilos de la sección contacto*/

#contacto{
    display: grid; /*Uso de grid*/
    padding: 10px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 25% 25% 25% 25%;

}

#contacto form{
    display: block;
    grid-column-start:1;
    grid-row-start: 1;
    grid-row-end: 5;
    padding: 2%;
    margin-bottom: 10px;
}

/*Selecciona todos los elementos que son hijos directos del <form>*/
#contacto form > * {
    padding: 2px;
    margin: 7px;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;

  }
  
  #contacto form input,
  #contacto form select,
  #contacto form textarea {
    width: 90%;
    padding: 1%;
  }

  /*Evita que el textarea sea agrandado/achicado*/
  #contacto form textarea{
    resize: none;
  }

  #contacto form button{
    width:fit-content;  
    font-weight: semi-bold;
    padding:10px;
    border-radius: 7px;
    margin: 10px;
    align-self: flex-end;
    font-size:19px;
    background-color: #ff7700; /* Naranja */
    color: black;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
  }

#contacto h1{
   align-content:center;
    text-align: center;
    grid-row-start: 2;
    grid-row-end: 2;
}

#contacto h3{
    text-align: center;
    align-content: start;
    grid-row-start: 3;    
}

/*Estilos del footer*/
footer{
    background-color: black;
    display: flex; /*Uso de flexbox*/
    flex-direction: row;
    align-items: center;
    justify-content: center; /*Ubica los elementos en el centro*/
    padding: 2px;
    gap:9px;
   
}

footer div{
    padding: 8px;
}

footer .redes a{
    text-decoration: none;
    text-align: center;
    height: 30px;
    font-weight: 400;
    font-size: 16px;
    color: white;
    font-style: italic;
}

footer img{
    width: 25px;
    margin: 0 5px;
}

footer p{
    padding: 1px;
    font-weight: 400;
    font-size: 16px;
    color: white;
    font-style: italic;
}
